@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');


body {
  margin: 0;
  background-color: #0B2434;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffff;
}

.navbar {
 background-color: black;
 height: 80px;
 font-family: 'Bakbak One', cursive;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.2rem;
 position: sticky;
 top: 0;
 z-index: 20;
}

.nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo{
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1; 
}

.nav-menu{
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links{
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item{
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after{
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover::after{
  width: 100%;
  background: navy;
}

.nav-item .active{
  color: white;
  border: 1px solid #FF5733 ;
}

.movie {
 width: 285px;
 padding: 30px;
 background-color: #091d2a;
 border-radius: 20px;
 margin: 5px;
 box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
 position: relative;
}

.movie-container{
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: .3rem;
}

.movie img {
max-width: 100%;
height: 400px;
width: 100%;
}

.title{
  width: 100%;
  text-align: center;
  padding: 8px 0;
  font-family: 'Oswald', sans-serif;
}

.info{
  font-family: 'Oswald', sans-serif;
 
}