body {
  margin: 0;
  background-color: #0B2434;
  font-family: 'Karla', sans-serif;
}

header {
  color: aliceblue;
  display: flex;
  align-items: center;
  background: black;
  padding: 20px;
  justify-content: space-between;
}

.header-title {
  margin-right: 6px;
}

 .header-title-weekly{
margin-left: 60rem;
}

 .header-title-daily{
margin-right: 3px;
} 

.movie-container {
  display: flex;
  }


.moviePoster {
  padding: 20px;
  background-color: rgba(169, 169, 169, 0.261);
  width: 30%;
  margin-bottom: 20px;
  
}

.movie {
  flex-grow: 1;
  margin: 10px;
}

.movie img {
  width: 100%;
}

